<h2>Recherche de films Star-wars</h2>
<div>
  <input type="text" placeholder="Quel film cherchez-vous?" [(ngModel)]="recherche">
  <button (click)="rechercher()">Rechercher</button>
  <button (click)="toutAfficher()">Tout afficher</button>
</div>
<div>
  <h3>Résultat de la recherche</h3>
  <div *ngIf="error">Erreur: {{errorMessage}}</div>
  <div *ngIf="isMessage">Message : {{message}}</div>
  <div *ngIf="loading">Traitement en cours!</div>
  <ul *ngIf="!loading">
    <li *ngFor="let film of films">#{{film.episode_id}} <a [routerLink]="['/details', film.episode_id]">{{film.title}}</a> (par {{film.director}})</li>
  </ul>
</div>
